In [ ]:
Q1. values- "hello",-87.8, 6 
  expression- - ,+ ,/ ,*

In [ ]:
Q2. string is a data type which is usually a combination of  characters written inside quotes("").
 varible is a character used for representation of  different data types . varible is always started with character.

In [ ]:
Q3. Three different data types are:- integer , float , string.

In [1]:
Q4.  expression is made up of combination of varible and mathematical operators which are used to perform for a result value.

In [ ]:
Q5.spam= 10 when some mathematical operaton is applied over this statment it will become a expreesion

In [ ]:
Q6. bacon=22 is asigned it will not change.

In [ ]:
Q7. both the expression will give same value i.e.-"spamspamspam".

In [ ]:
Q8. because varible always given by character and can be followed by integer.

In [ ]:
Q9. The three function are :- int(), float(),str().

In [ ]:
Q10. int and str cannot be combined we can fix it by converting integer in string .
"i have eaten "+ "99"+"burritos".